.terraform
.terraform.lock.hcl
.obsidian
.final
.wip
.credentials
.env
.DS_Store
.ansible-and-docker/
.ansible-and-vagrant/
.ansiblesemaphore-tutorial/
.ansible-tutorial/
.argocd-tutorial/
.bind9-docker/
.bind9-terraform-tutorial/
.cloudflare-tunnel-tutorial/
.docker-python-debugging-vscode/
.docker-tutorial/
.duplicati-tutorial/
.github-actions-tutorial/
.mailcow-tutorial/
.nextcloud-tutorial/
.nginxproxymanager-tutorial/
.nginx-reverseproxy/
.passbolt-tutorial/
.podman-docker-alternative/
.portainer-remote-tls/
.portainer-tutorial/
.self-signed-certificates-in-kubernetes/
.serverless-tutorial/
.teleport-passwordless/
.teleport-tutorial/
.truenasscale-traefik/
.vagrant-tutorial/
.watchtower-tutorial/
.webserver-on-linux/
zimbra-server-installation